# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Models
*.h5
*.pt
*.pth
*.pkl
models/

# Data
MRI IMAGES/
uploads/
*.csv
*.zip

# Vector DB / Langchain
.vector_store/
knowledge_base/

# Node
node_modules/
dist/
*.log

# Env
.env

# Editor
.vscode/
.idea/
.DS_Store